* {
  color: $white;
  fill: $white;
  font-family: 'Lato', sans-serif;
}

body {
  background: #37374a;
margin: 0;
padding: 20px;
}

section {
  // display: none;

  &#page-home {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.flex {
  display: flex;
}

main {
  button {
    cursor: pointer;
    outline: 0;
    border: 2px solid $white;
    padding: 15px 20px;
    background: transparent;
    border-radius: 40px;
  }
}
