* {
  color: $white;
  font-family: 'Lato', sans-serif;
}

body {
margin: 0;
padding: 20px;
}

section {
  display: none;

  &#page-home {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.flex {
  display: flex;
}
