//Grayscale
$white: #fff;
$black-90: #232225;
$black:    #000;

//Rainbow
$red-50: #a0123d;
$red-60: #8a0303;
$yellow-50: #a77d17;
$green-40: #105610;
$green-50: #377170;
$blue-50: #1f3771;

//Assignments
$button: $black;
$link: $blue-50;
