//Grayscale
$white: #fff;
$black-90: #232225;
$black:    #000;

$blue-10: #b0d5f5;
$blue-20: #84c2f3;
$blue-30: #2872c7;
$blue-40: #2959d6;
$blue-50: #173686;
$blue-55: #35539a;
$blue-60: #0c3c69;
$blue-70: #1b3065;
$blue-80: #282269;
$blue-85: #37374a;
$blue-90: #060321;
$yellow-10: #fdfdec;
$yellow-20: #f5f5aa;
$yellow-40: #e4ba04;
$yellow-70: #f1ac6a;
$orange-80: #E64748;
$pink-50: #bb4c82;
$pink-60: #b92f74;
$pink-80: #6f2e5b;

//Assignments
$button: $black;
$link: $blue-50;

//GRADIENTS
@mixin gradient($color1, $color2, $color3, $color4) {
  background: $color3; /* Old browsers */
  background: -moz-radial-gradient(100% 100%, ellipse cover, $color1 0%, $color2 5%, $color3 50%, $color4 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(100% 100%, ellipse cover, $color1 0%, $color2 5%, $color3 50%, $color4 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at 100% 100%, $color1 0%,  $color2 10%,  $color3 50%, $color4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
