footer {
  bottom: 20px;
  color: $white;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}

.resultsPage {
  footer {
    margin-top: 40px;
    position: static;

    @media only screen and (min-height : 600px) {
      position: fixed;
    }
  }
}
