.template-form {
  margin: 40px auto;
  max-width: 750px;
  width: 90%;
}

.template-form__location {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  fieldset {
    border: 0;
    text-align: left;
    width: 100%;

    legend {
      height: 0;
      overflow: hidden;
    }

    label {
      margin-bottom: 10px;
      margin-left: 17px;
    }
  }

  .sunset-location {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: $white;
    font-size: 1em;
    outline: 0;
    padding: 15px 70px 15px 15px;
    width: 100%;

    &::placeholder {
      color: $white;
      opacity: .6;
    }
  }

  .sunset-coords {
    height: 0;
    position: absolute;
    visibility: hidden;
    width: 0;
  }

  .location-wrapper {
    border-radius: 40px;
    overflow: hidden;
    position: relative;

    .current-location {
      bottom: 0;
      padding: 0 20px 0 15px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .clear {
      background: rgba(250,250,250,.1);
      border-radius: 15px;
      display: flex;
      font-size: 13px;
      height: 25px;
      justify-content: center;
      position: absolute;
      right: 60px;
      text-align: center;
      top: 12px;
      width: 25px;
    }
  }

  .location-wrapper,
  .btn,
  input[type="radio"].toggle + label {
    border: 2px solid $pink-50;
  }

  .location-wrapper .current-location,
  input[type="radio"].toggle + label:after,
  button[type="submit"]{
    background: $pink-50;
  }

  .btn {
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font-size: .8em;
    letter-spacing: .1em;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: background 600ms ease, color 600ms ease;
    width: 50%;
  }

  input[type="radio"].toggle {
    display: none;

    & + label {
      cursor: pointer;
      min-width: 60px;

      &:after {
        border-radius: 40px;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: left 200ms cubic-bezier(.77, 0, .175, 1);
        width: 100%;
        z-index: -1;
      }
    }

    &.toggle-left + label {
      border-right: 0;
      border-radius: 40px 0 0 40px;

      &:after {
        left: 100%;
      }
    }

    &.toggle-right + label {
      border-radius: 0 40px 40px 0;
      border-left: 0;
      margin-left: -5px;

      &:after {
        left: -100%;
      }
    }

    &:checked + label {
      color: $white;
      cursor: default;
      opacity: 1;
      transition: color 200ms;

      &:after {
        left: 0;
      }
    }
  }

  button[type="submit"] {
    border: 0;
    border-radius: 40px;
    font-size: .8em;
    letter-spacing: 1px;
    outline: none;
    padding: 15px 30px;
    text-transform: uppercase;
  }
}

.disclaimer {
  margin-bottom: 30px;
  opacity: .7;
  text-align: center;
  width: 100%;
}
