.loading-screen {
  align-items: center;
  background: rgba(13, 13, 29, 0.8);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 99;

  &.active {
    display: flex;
  }
}

.hero {
  position: fixed;
  z-index: -10;

  .hero__mask {
    position: fixed;
    background: rgba(50,25,10,.5);
    z-index: -99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .hero__video {
    background: url(../src/images/Orange-Ripple.jpg);
    background-size:cover;
    position:center center;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
