.currentIcon svg {
  width: 60px;
}

.resultsPage {
  section#page-results {
    margin-top: 70px;

    @media only screen and (min-width : 800px) {
      margin-top: 120px;
    }
  }
}

.heading-date {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 7px;
  text-transform: uppercase;
}

.heading-location {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  opacity: .7;
  text-transform: capitalize;
}

table {
  margin: 20px auto 40px;;
  text-align: left;

  td {
    background: rgba(250, 250, 250, .05);
    padding: 10px 20px;
    position: relative;

    &:first-of-type {
      font-weight: bold;
      text-align: right;
      letter-spacing: 1px;
    }
  }

  th {
    background: rgba(250, 250, 250, .12);
    font-size: 1.2em;
    letter-spacing: 6px;
    padding: 13px 20px;
    text-align: center;
    text-transform: uppercase;

    img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }

    .flex {
      align-items: center;
      justify-content: center;
    }
  }
}


.quality--percent {
  font-size: 6em;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-shadow: -1px -1px 1px #666;

  @media only screen and (min-width : 400px) {
    font-size: 8em;
  }

  @media only screen and (min-width : 600px) {
    font-size: 10em;
  }

  @media only screen and (min-width : 800px) {
    font-size: 15em;
  }
}

.sun {
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &.low10,
  &.low20,
  &.low30 {
    @include gradient($blue-40, $blue-50, $blue-60, $blue-90);
  }

  &.mid40,
  &.mid50,
  &.mid60 {
    @include gradient($blue-10, $blue-20, $blue-30, $blue-80);
  }

  &.mid70,
  &.high80 {
    @include gradient($yellow-20, $yellow-70, $pink-60, $blue-80);
  }

  &.high90,
  &.high100 {
    @include gradient($yellow-10, $yellow-40, $orange-80, $blue-80);
  }
}
