.currentIcon svg {
  width: 60px;
}

.heading-location {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 7px;
  text-transform: uppercase;
}

.heading-date {
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  opacity: .7;
}

table {
  margin: 20px auto;
  text-align: left;

  td {
    background: rgba(250, 250, 250, .04);
    padding: 10px 20px;
    position: relative;

    &:first-of-type {
      font-weight: 900;
      text-align: right;
    }
  }
}


.quality--percent {
  font-size: 6em;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-shadow: -1px -1px 1px #666;

  @media only screen and (min-width : 400px) {
    font-size: 8em;
  }

  @media only screen and (min-width : 700px) {
    font-size: 10em;
  }
}

.sun {
  height: 100%;
  left: 0;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &.low10,
  &.low20 {
    @include gradient(#2d3db5, #23459e, #1d74c7, #282269);
  }

  &.low30,
  &.mid40 {
    @include gradient(#b0d5f5, #84c2f3, #2872c7, #282269);
  }

  &.mid50,
  &.mid60{
    @include gradient(#fd9cb6, #e69494, #226869, #282269);
  }

  &.mid70,
  &.high80 {
    @include gradient(#fbfbe0, #f1d16a, #982e63, #282269);
  }

  &.high90,
  &.high100 {
    @include gradient(#FCFD9C, #c6c761, #E64748, #282269);
  }
}
